body{
    font-family: 'News Cycle', sans-serif;
}
.menu{
    position:fixed;
    z-index:8000;
    width:100%;
    background-color:#335A7D;
    color:#fff;
    transition: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.41em;
    margin-bottom:50px;
}
#display {
    transition: 0.4s
}
.offset{
    padding-top:500px;
}
.navbar{
    display:grid;
    grid-template-columns:1fr 5fr;
}
.menu > h2 {
    margin-left:25px;
}
h1{
    text-align:center;
    color:#335A7D;
    font-weight:bold;
    font-size: 36px;
}
h3{
    position:relative;
    top:350px;
    text-align:end;
    color:#fff;
    font-weight:bold;
    font-size: 36px;
    -webkit-text-stroke: 0.5px black;
}
.navbar > ul > li{
    margin-right:65px;
    display:inline-block;
}
.navbar > ul > li > a {
    text-decoration:none;
    color:#fff;
    border-bottom: 2px solid transparent;
    transition: 500ms;
}
.navbar > ul > li > a:hover{
    border-color:#fff;
}
.presentation{
    width:1920px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#CTA {
 position:absolute;
 left:1600px;
 bottom:375px;
 background-color:white;
 border-color: #335A7D;
 color: #335A7D;
 font-size:25px;
 padding:10px;
 }
#CTA:hover {
    background-color: #335A7D;
    border-color:white;
    color: white;
}
#info_lettre {
    background-color:rgba(255, 255, 255, 0.9);
    border: 1px solid #335A7D;
    padding: 200px;
    position:fixed;
    top:25%;
    right:32%;
    z-index:9000;
}
#close {
    position:relative;
    color:#335A7D;
    z-index:9001;
    border-color:transparent;
    font-size:25px;
    left:65%;
    top:13%;
    cursor: pointer;
  }
  #close:hover {
      border-color:#335A7D;
  }
#dim-overlay {
    position:absolute;
    top:0;
    z-index:8999;
    width:100%;
    height:205%;
    background-color:rgba(0, 0, 0, 0.5)
}
.cv{
    width:820px;
    margin:50px auto;
}
.cv-b{
    position:relative;
    bottom:935px;
    right:100px;
}
.zindex{
    z-index:-1;
}
#cv1{
    cursor:pointer;
}
#cv2{
    margin-bottom:-1000px;
}
.pz{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:50px;
    
}
.visite{
    text-align:right;
}
.border-shadow{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid #335A7D;
}
.wrapper-web{
    width: 498px;
    height: 625px;
    margin:50px 0 50px 50px;
    padding:40px;
}
.wrapper-web-b{
    width:800px;
    height:500px;
    padding:30px;
}
.wrapper-web-c{
    margin-top:50px;
    width:626px;
    height:500px;
    padding:20px
}
.wrapper-web-d{
    position:relative;
    padding:20px;
    background-image: url(../images/web.jpg);
    background-size: 1775px 500px;
    right:12px;
    margin:0 auto;
    width:1775px;
    height:500px;
}
.font22{
    font-size:22px;
}
.nopad{
    padding:0;
}
.wrapper-web > ul > li, .realisation > ul > li, .conceptp, .intp {
 list-style-type:none;
}
.realisation{
    margin-top:50px;
}
.realisation > ul{
    display:grid;
    column-gap:30px;
    grid-template-columns: 1fr 1fr 0.01fr;
}
.realisation > ul > li > a {
    display:grid;
    text-align:center;
    padding: 20px;
    font-size:18px;
    border: 2px solid #335A7D;
}
.realisation > ul > li > #toggleConcept, #toggleInt{
    color:#335A7D;
}
.realisation > ul > li > #toggleConcept:hover, #toggleInt:hover, #toggleB:hover, #toggleD:hover, #toggleE:hover, .conceptp > li:hover, .intp > li:hover{
    cursor:pointer;
    background-color:#335A7D;
    color:#fff;
}
.float-container{
    width:1300px;
    margin: 0 auto;
}
#tp1concept > img, #tp2concept > img, #tp3concept > img, #tp4concept > img,  #tp1int > img,  #tp2int > img,  #tp3int > img,  #tp4int > img {
    position:relative;
    top:55px;
    border: 1px solid #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.conceptp > li, .intp > li{
    display:inline-grid;
    margin: 0 auto;
    column-gap:65px;
    padding:10px;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #335A7D;

}.conceptp > li:hover, .valid:hover, .newsbox > a:hover{
    cursor:pointer;
    background-color:#335A7D;
    color:#fff;
    text-decoration:none;
}
.spacing {
    margin-bottom:50px;
}
.moi{
    font-size:22px;
    margin-left:25px;
    margin-bottom:10px;
}
.splitbar{
    height:2.5px;
    width:45%;
    background-color:#fff;
}
.splitBarGris{
    background-color:#335A7D;
    margin-bottom:10px;
    height:1px;
    width:100%;
}
.logo {
    margin:30px 0 100px 50px;
    height:175px;
    width:175px;
    transition: 0.4s;
}
.logo:hover {
    cursor:pointer;
    animation: logo 2s infinite;
}
.roll {
    width:150px;
    height:150px;
    border-radius: 100%;
    z-index:8002;
    position:absolute;
    animation: tourPage 5s ease-in 3;
    background-color:darkblue;
}
@keyframes logo{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
/* ++Animation Break entre 0% et 25%++ */
@keyframes tourPage{
    0% {
        top: 0;
        right: calc(100% - 150px);
    }
    25%{
        top: 0;
        right: 0;
        left: calc(100% - 150px);
    }
    50% {
        bottom:0;
        left: calc(100% - 150px);
        top: calc(100% - 150px);
    }
    75% {
        left:0;
        right: calc(100% - 150px);
        top: calc(100% - 150px);
    }
    100% {
        top:0;
        bottom: calc(100% - 150px);

    }
}
.page-actuel{
    padding:35px 0 45px 0;
    margin-left:25px;
}
.realisation > li{
    width:100%;
    display:grid;
    grid-template-columns: 2fr;
}
#int, #concept, #toggleC, #toggleF, #tp1concept, #tp2concept, #tp3concept, #tp4concept, #tp1int, #tp2int, #tp3int, #tp4int{
    display:none;
}
#int > img, #concept > img{
    margin-left:10%;
}
.passion {
    margin-top:20px;
    margin-left:10px;
    display:grid;
    column-gap:25px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 135px 135px 135px;
}
.drapeau{
    position:absolute;
    margin-left:80px;
    opacity:0.3;
}
.newsletters {
    display: grid;
    padding:30px;
    grid-gap:25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 20%);
}
.newsbox {
    padding:25px;
    height:350px;
    width:350px;
}
.newsbox p, h2 {
    text-align:justify;
}
.newsbox > img {
    width:300px;
    height:300px;
    position:absolute;
    opacity: 0.6;
    z-index: -1;
}
.newsbox > a {
    position:relative;
    left:85px;
    top:25px;
    padding:10px;
    font-weight:bold;
    font-size:18px;
    background:rgba(255, 255, 255, 0.5);
    color:#335A7D;
    border: 2px solid #335A7D;
}
.m-bot{
    margin-bottom:50px;
}
#infolettre{
    width:400px;
    padding:10px;
    text-align:center;
}
.contact {
    width:1250px;
    margin: 0 auto;
}
.form-text{
    font-size:22px;
    text-transform:uppercase;
    font-weight:bold;
    color:#335A7D;
    border: 2px solid #335A7D;
}
#nom, #prenom, #telephone, #courriel, #sujet{
    width:500px;
    margin-top: 26.5px;
    padding:10px;
    text-align:center;
}
#comment {
    position:relative;
    bottom:588px;
    left:550px;
    padding:15px;
    resize: none;
    margin-bottom:-500px;
   }
.captcha, .valid {
    width:225px;
    margin:26.5px 40px 0 0;
    padding:10px;
    background-color:transparent;
}
#dismiss{
    position:relative;
    top:550px;
    left:525px;
    border: 1px solid white;
    width:25%;
    border-radius:5px;
    text-align:center;
    padding: 20px;
    font-size:18px;
    font-weight:bolder;
    letter-spacing:3px;
    color:#fff;
}
#dismiss:hover {
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    cursor:pointer;
}
#overlay {
	position: fixed;
	background: url("../images/dimBG.png");
	background-repeat: repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#overlay .popup {
    opacity:0.45;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 75%;
	height: 75%;
	background-color: black;
}
.captchabox{
    float:right;
    position:relative;
    right:750px;
    bottom:65px;
    color:#fff;
    text-align:center;
    background-color:#335A7D;
    height:61px;
    width:270px;
}
footer, footer > h2 {
    clear:both;
    margin-top:50px;
    text-align:center;
    padding:10px;
}